body{
    background-color: #d8d8d8;
}


.grid-container {
    margin: 0 auto;
    width: 93%;
    display: grid;
   grid-template-columns: repeat(3, 1fr);

   grid-gap: 100px;
   margin-top: 80px;
}


.grid-container img{
    width: 400px;
    height: 500px;
}
.butt{
    
    padding: 5px;
    position: relative;
    height: 50px;
}


 .but-link {
    display: block;
    width: 177px;
    border: none;
    margin: 0;
    text-align: center;
    background: #0eca0e;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: .8rem;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 20px;
  }
   .but-link:hover{
      background-color: #23e629;
      color: white;
  } 
.first-title{
    margin-bottom: 85px;
    padding: 30px;
    font-family: 'Patua One';
    text-decoration: 5px underline;
    color: #009432;
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 45px;

    
}
.first-title2{
    margin-bottom: 85px;
    padding: 30px;
    font-family: 'Patua One';
    text-decoration: 5px underline;
    color: #009432;
    font-size: 45px;
    text-align: center;
    position: relative;
}
.line{
  
   margin-top: 150px;
   padding: 2px;
   color: green;
   
   

}
.grid-container2 img{
    width: 200px;
    height: 200px;
   
}
.img1 img{
width: 200px;
height: 200px;
}
.grid-container2{
    margin: 0 auto;
    width: 73%;
    display: grid;
   grid-template-columns: repeat(4, 1fr);

   grid-gap: 103px;
   margin-top: 60px;
}
nav{
    height: 50px;
}
#logo{
    height: 5px;
}
