
.bckg{
    position: relative;
    z-index: -1;
    top: -4px;
    background-image:url(../images/background\ \(1\).jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}
 /* //////////////////////////////////////top.container////////////////////// */
.top-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: -156px;
    
}
.top-container .box{
        position: relative;
        width: 350px;
        padding: 40px;
        width: 29%;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin: 24px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
}

.top-container .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}
.top-container .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}
.top-container .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}
.top-container .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
}
.top-container .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}
.top-container .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #23e629;
}
.top-container .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
}
.top-container .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #2196f3;
}
.top-container .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.top-container .box:hover .content{
    color: #fff;
}
.top-container .box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
    font-family: sans-serif;
}

.top-container .box .content p{
    margin: 0;
    padding: 0;
}
.top-container .box .content a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
 /* //////////////////////////////////////main.container////////////////////// */
.main-container{
    width: 100%;
    position: relative;
    bottom: 101px;
    background-color: #53525217;
    background-image: linear-gradient(to right, rgb(46, 204, 113, .4), rgb(39, 174, 96, .4)), url(../images/995701.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    height: 50vh;
}


.main-content{
    height: 30vh;
    width: 60%;
    background-size: cover;
    margin: 0px auto;
    position: relative;
    top: 60px;
    background-image: linear-gradient(137deg, #ccc 0%, #ececec99 57%, #9b99994d 50% ), url(../images/imghome.jpg);
    background-position: left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.cont{
    width: 43%;
    float: left;
    text-align: center;
    padding: 25px;
    background-size: cover;

}

.main-container .but1 .but-link {
    display: block;
    width: 177px;
    border: none;
    margin: 0;
    text-align: center;
    background: #0eca0e;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: .8rem;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  .main-container .but1 .but-link:hover{
      background-color: #23e629;
      color: white;
  } 
/* //////////////////////////////////////buttom.container////////////////////// */
.bottom-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 59px;
    padding: 25px;
}

.btm-container{
    position: relative;
    bottom: 39px;
    background-color: #69666614;
    padding: 10px;
}
.btm-container img{
    width: 70px;

}
.btm-container h1{
    text-align: center;
    margin: 31px auto;
    font-size: 3rem;
    font-family: sans-serif;
}
/* //////////////////////////////////////footer////////////////////// */
/* .footer{
    background: #efefc8;
    padding: 28px;
    margin-top: -41px;
}
.social-media{
    display: flex;
    justify-content: center;
} */
.bottom-container h2{
    padding: 10px;
}
.bottom-container div {
    padding: 14px;
    border-radius: 27px;
    
}
.bottom-container div:hover{
    background-color: #8080801a;
    border: 2px solid gray;
    box-shadow: 0 0px 8px grey;}
.bottom-container h2{ padding: 10px;}
@media  (max-width:1070px) and (min-width:920px){
    .top-container .box{
        width: 40%;
    }
}

@media screen and (max-width:768px){
    .top-container .box{
        width: 96%;
    }
    .main-content{
        position: relative;
        top: 30px;
        height: 13rem;
        width: 90%;
    }
    .bottom-container{
        display: block;
    }
    .info{
        display: grid;
    margin: 29px;
    text-align: center;
    }
    .info a{
    padding-right: 0px;
    color: black;
    padding: 7px
    }
    .bottom-container div{
        margin: 15px;
    }
}
.copyright{
    text-align: center;
} 


.footer{
    margin-top: -74px;
}
