body{
background-color: white;
  
}

.container h2{
  text-align: center;
  color: #4CAF50;
  margin-top: 20px;
  margin-right: 20px;
}
.container p{
  text-align: center;
  margin-top: 20px;
  margin-right: 25px;
}

.container  {
  padding: 120px;
  width: 84%;
  height: 1;
  background-image: url(https://i.f1g.fr/media/madame/orig/sites/default/files/img/2019/12/planete-nature.jpg);
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
  margin: 0 auto;

  
  

}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  margin-left: 299px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
  margin-left: -50px;
  
}


/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  width: 100px;
  border-radius: 10px;
}

input[type=submit]:hover {
  opacity: 0.8;
  
}

  
 
.subscribe{
  margin-left: 28%;
  margin-bottom: 20px;
}


@media (min-width: 500px) and (max-width: 765px) {
  input[type=text], input[type=submit] {
    width: 77%;
    margin-left: 34px;
    

 }
 .container{
  right:  47px;
 }
}


@media screen and (max-width: 500px) {
  .container {
    width: 52vw;
    margin-left: 30px;
  }

    .container2 {
     margin-left: -10px;
     margin-right: -50px;
   } 
   .container1 {
     margin-left: 40px;
   }
   .container3 {
     margin-left: 25px;
   }
}

