.container_imgs1{
    width: 85%;
    top: 75px;
    position: relative;
    /* overflow: hidden; */
    margin: 0 auto;
  }
  .container_imgs{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 27px;
  }
  .imgs_art{
    text-align: center;
    background: #b8b4b46e;
    padding: 16px;
    border-radius: 8px;
    box-shadow: grey 0 2px 8px;
}








/* //////////////////////////////////asid-bar//////////////////////////// */


  .ftr{
    margin-top: 99px;
  }
