.background{
  overflow: hidden;
  position: relative;
  top: 49px;
  background-image: url(../images/backroundpro.jpg);
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: left;
}
.background h4{
  position: relative;
    top: 12rem;
    left: 7rem;
    color: white;
    font-size: 50px;
}

.mainsection {
  width: 81%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  position: relative;
    top: 26px;

}



.box{
  position: relative;
  width: 247px;
  height: 294px;
  background: #000;
  margin-top: 33px;
   /* box-shadow: 0 30px 30px rgba(0,0,0,.5); */
}

.box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}
.box .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover .imgBx img{
  opacity: 0;
}
.box .content{
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background:#FFF ;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}

.box:hover .content{
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;

}

.box .content h3{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.box .content p{
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}
.box:hover .content p{
  opacity: 1;
  transition-delay: 0.5s;
}
/* //////////////////////////////////asid-bar//////////////////////////// */


  .ftr{
    margin-top: 99px;
  }
